$max_width: 1440px;
// $break_sp: 640px;
$break_sp: 840px;
$break_pc:1280px;
$main_color: #F26A3D;
// $title_color: #FEE757;
$txt_color: $main_color;
$accent_color: #FFFFFF;
$sub_color:#111111;
// $ttl_font: 'IBM Plex Sans', sans-serif;
$main_font: 'IBM Plex Sans', sans-serif;
// $sub_font: "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
$ja_font:'Noto Sans JP', sans-serif;
// $yu_font: YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
// $eng_font: 'Noto Sans JP', sans-serif;
// $eng_font: 'Oswald', sans-serif;
// $bold_font: "Neue Haas Unica W1G", sans-serif;
// $medium_font: "objectivemedium", sans-serif;
// $sans-sefif: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
// $serif: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;;
