.concept {
  text-align: left;
  color: $main_color;
  padding: 173px 0 235px;


  &-ttl {
    position: relative;
    text-align: right;
    margin-bottom: .5em;

    font-family: $main_font;
    // font-family: $ja_font;
    $this_font_size:124;
    // $this_font_size:54;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: #{(60/1000)}em;
    // line-height: (60/#{$this_font_size});
    line-height: 1;
    color: $main_color;
    // color: $accent_color;
    @include max-screen($break_sp) {
      font-size: 64px;
    }

    &::before {
      content: "";
      background-image: url(./../img/concept.png);
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(-103px);
      height: 379px;
      width: 352px;
      @include max-screen($break_sp) {
        display: none;
      }
    }
  }

  &-subttl{
    margin-bottom: 1em;

    font-family: $main_font;
    // font-family: $ja_font;
    // $this_font_size:16;
    $this_font_size:24;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: #{(60/1000)}em;
    line-height: (36/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}

  }

  &-txt{
    // font-family: $main_font;
    font-family: $ja_font;
    $this_font_size:16;
    // $this_font_size:20;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: (32/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}

  }

  &-inner {
    width: 50%;
    margin-left: auto;
  }
}
