.container {
  max-width: #{$max_width}px;
  margin: 0 auto;
  padding-right: percentage($container_margin_rl_per);
  padding-left: percentage($container_margin_rl_per);

  @include max-screen($break_sp) {
    padding-right: 10px;
    padding-left: 10px;
  }

  @include min-screen($break_pc) {
    padding-right: #{$container_margin_rl}px;
    padding-left: #{$container_margin_rl}px;
  }
}
