.hamburger-wrapper {
  cursor: pointer;
  margin-right: 54px; //←％指定すると折り返す
}

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  width:  100%;
  height: 128px;
  margin: 0 auto;
  background-color: $accent_color;

  &-logo {
    height: 35px;
    margin-right: auto;
    margin-left: 54px;
  }

  &-nav {
    // width: 87.5%;

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
    }

    &-item {
      margin-left: 54px; //←％指定すると折り返す
      font-family: $main_font;
      // font-family: $ja_font;
      $this_font_size:16;
      // $this_font_size:20;
      font-size: #{$this_font_size}px;
      font-weight: 400;
      letter-spacing: #{(60/1000)}em;
      line-height: (20/#{$this_font_size});
      color: $main_color;
      // color: $accent_color;
      //@include max-screen($break_sp) {
      //  font-size: 16px;
      //}


      a {
        @include underline(true);
        // text-decoration: none;
        // color: $main_color;
          // position: relative;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   display: inline-block;
        //   bottom: 0;
        //   right: 0;
        //   left: auto;
        //   height: 2px;
        //   width: 0;
        //   background: $main_color;
        //   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        // }
        // &:hover {
        //   color: #d97568;
        //   &::before {
        //   width: 100%;
        //       left: 0;
        //   }
        // }

      }
    }
  }
}
