.news {
  // background-image: url("../../img/news.png");
margin-top: -600px;

  &-inner {
    // padding-top: 490px;
    // padding-top: 500px;
    padding-top: 700px;
    // padding-top: 700/1440vw;
  }
  //
  &-content {
    background-color: #fff;
    padding: 96px;
    position: relative;

    @include max-screen($break_sp) {
      padding: 96px 0;
    }

    &-header {
      display: flex;
        flex-wrap:wrap;
      margin-bottom: 91px;
    }

    &-ttl{
      font-family: $main_font;
      // font-family: $ja_font;
      $this_font_size:36;
      // $this_font_size:54;
      font-size: #{$this_font_size}px;
      font-weight: 400;
      letter-spacing: #{(60/1000)}em;
      line-height: (60/#{$this_font_size});
      color: $main_color;
      // color: $accent_color;
      @include max-screen($break_sp) {
        font-size: 24px;
      }

    }

    &-list {

      display: flex;
        flex-wrap:wrap;
    }

    &-item {
      @extend .product-item;
      color: $main_color;
      &::before {
        background: $main_color;
      }
      &:last-child {
        &::after {
      background-image: url("../../img/all-list-o.svg");
        }
      }
      // margin-left: 37px;
      // // @include underline;
      // @include underline(true, false);
      //
      // &:last-child {
      //   &::after {
      //     content: '';
      //     background-image: url("../../img/news-detail.svg");
      //     display: inline-block;
      //     /*忘れずに！*/
      //     width: 8px;
      //     /*画像の幅*/
      //     height: 15px;
      //     /*画像の高さ*/
      //     background-size: contain;
      //     vertical-align: middle;
      //     margin-left: 21px;
      //   }
      // }
    }

  }

  &-tbl {
    margin-bottom: 95.6px;
  }
  &-tr {
    position: relative;
    vertical-align: baseline;
    margin-bottom: 1em;

    &:after {
      content: "";
      background-image: url("../../img/arrow.svg");
      display: inline-block;
      /*忘れずに！*/
      width: 8px;
      /*画像の幅*/
      height: 15px;
      /*画像の高さ*/
      background-size: contain;
      vertical-align: middle;
    }
  }

  &-td{
        padding-bottom: 1em;
    font-family: $main_font;
    // font-family: $ja_font;
    $this_font_size:16;
    // $this_font_size:20;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: #{(60/1000)}em;
    line-height: (20/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}

    &:nth-child(2){
    padding-left: 39px;
    @include max-screen($break_sp) {
      padding-left: 0px;
    }
    }
    &:nth-child(3){
    padding-left: 63.7px;
    padding-right: 63.7px;
    @include max-screen($break_sp) {
      padding-left: 0px;
      padding-right: 0px;
    }
    }

    time{
      // font-family: $main_font;
      // font-family: $ja_font;
      // $this_font_size:16;
      // $this_font_size:20;
      font-size: #{$this_font_size}px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: (24/#{$this_font_size});
      // color: $main_color;
      // color: $accent_color;
      //@include max-screen($break_sp) {
      //  font-size: 16px;
      //}

    }
  }

  &-txt{
    // font-family: $main_font;
    font-family: $ja_font;
    $this_font_size:16;
    // $this_font_size:20;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: (28/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}

  }

  &-link {
    text-align: center;
    font-family: $main_font;
    // font-family: $ja_font;
    // $this_font_size:16;
    $this_font_size:20;
    font-size: #{$this_font_size}px;
    font-weight: 400;
    letter-spacing: #{(60/1000)}em;
    line-height: (27/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}


    a {
      padding: 0 200px 25px;
      // @include border-bottom(true);
      @include underline(true, true);
      // color: $main_color;
      @include max-screen($break_sp) {
        padding: 0 0px 25px;
      }
    }
  }
}

.tab-group{
  display: flex;
    flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.tab{
  flex-grow: 1;
  // padding:5px;
  // list-style:none;
  // border:solid 1px #CCC;
  // text-align:center;
  cursor:pointer;
}
// .panel-group{
//   // height:100px;
//   padding-bottom: 100px;
//   border:solid 1px #CCC;
//   border-top:none;
//   background:#eee;
// }
.panel{
  display:none;
}
.tab.is-active{
  // background:#F00;
  // color:#FFF;
@include underline();
// background-color: $main_color;
// color:#fff;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}

.all-list{
  margin-left: 111px;
}
