.news {
  // background-image: url("../../img/news.png");
margin-top: -600px;

  &-inner {
    padding-top: 490px;
  }
  //
  &-content {
    background-color: #fff;
    padding: 96px;
    position: relative;

    &-header {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    &-list {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    &-item {
      margin-left: 37px;
        // @include underline;
        @include underline(true, false);

      &:last-child {
        &::after {
          content: '';
          background-image: url("../../img/news-detail.svg");
          display: inline-block;
          /*忘れずに！*/
          width: 8px;
          /*画像の幅*/
          height: 15px;
          /*画像の高さ*/
          background-size: contain;
          vertical-align: middle;
          margin-left: 21px;
        }
      }

      // a {
      //   // @include border-bottom;
      //     @include underline(true, false);
      //   // color: $main_color;
      // }
    }

    &-tbl {}
  }

  &-tr {
    position: relative;
    vertical-align: baseline;

    &:after {
      content: "";
      background-image: url("../../img/arrow.svg");
      display: inline-block;
      /*忘れずに！*/
      width: 8px;
      /*画像の幅*/
      height: 15px;
      /*画像の高さ*/
      background-size: contain;
      vertical-align: middle;
    }
  }

  &-link {
    text-align: center;

    a {
      padding: 0 200px 25px;
      // @include border-bottom(true);
      @include underline(true, true);
      // color: $main_color;
    }
  }
}

.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  flex-grow: 1;
  // padding:5px;
  // list-style:none;
  // border:solid 1px #CCC;
  // text-align:center;
  cursor:pointer;
}
.panel-group{
  // height:100px;
  padding-bottom: 100px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
}
.panel{
  display:none;
}
.tab.is-active{
  // background:#F00;
  // color:#FFF;
@include underline();
// background-color: $main_color;
// color:#fff;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}
