.passion{

    padding-bottom: 100px;

  &-inner{
    display: flex;
  }
  &-content{
    width: 50%;

    a{
      padding: 0px 90px 25px;
@include underline(true, true);
    }
  }
  &-img{
    // position: absolute;
    width: 50%;
  }
  &-ttl{
@include ttl;
  }
  &-txt{
    margin-bottom: 2em;
  }
}
