.passion{
  &-inner{
    display: flex;
  }
  &-content{
    width: 50%;

    a{
      padding: 0px 90px 25px;
      @include border_bottom(true);
      color: $main_color;
    }
  }
  &-img{
    width: 50%;
  }
  &-ttl{
@include ttl;
  }
  &-txt{
    margin-bottom: 2em;
  }
}
