.top {
  color: $main_color;
  position: relative;
  padding-top: (222/1440)*100%;
  padding-bottom: (272/1440)*100%;

  @include min-screen($break_pc) {
    padding-top: 222px;
    padding-bottom: 272px;
  }

  &-ttl {
    padding-bottom: 1em;
    font-family: $main_font; // font-family: $ja_font;
    $this_font_size: 64;
    font-size: #{$this_font_size}px; // font-size: 54px;
    font-weight: 400;
    letter-spacing: #{(60/1000)}em;
    line-height: (72/#{$this_font_size});
    color: $main_color; // color: $accent_color;
    @include max-screen($break_sp) {
      font-size: 32px;
    }
  }

  &-txt {
    // font-family: $main_font;
    font-family: $ja_font;
    // $this_font_size:16;
    $this_font_size: 20;
    font-size: #{$this_font_size}px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: (32/#{$this_font_size});
    color: $main_color;
    // color: $accent_color;
    //@include max-screen($break_sp) {
    //  font-size: 16px;
    //}
  }

  &-news {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid $main_color;
    width: (371/1440)*100%;
    // height: (110/800)*100%;
    &::before {
      content: "";
      border: 5px solid $main_color;
      position: absolute;
      height: 50%;
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &-txt {
        // font-family: $main_font;
        font-family: $ja_font;
        $this_font_size: 14;
        // $this_font_size:20;
        font-size: #{$this_font_size}px;
        font-weight: 400;
        letter-spacing: #{(40/1000)}em;
        line-height: (24/#{$this_font_size});
        color: $main_color;
        // color: $accent_color;
        //@include max-screen($break_sp) {
        //  font-size: 16px;
        //}
      }

      &-content {
        padding: 16px 19px;
        flex: 1;
        @include max-screen($break_sp) {
          padding: 10px;
        }

        time {
          display: block;
          font-family: $main_font;
          // font-family: $ja_font;
          $this_font_size: 12;
          // $this_font_size:20;
          font-size: #{$this_font_size}px;
          font-weight: 400;
          letter-spacing: #{(60/1000)}em;
          line-height: 3;
          color: $main_color;
          // color: $accent_color;
          //@include max-screen($break_sp) {
          //  font-size: 16px;
          //}
        }
      }
    }

    &-btn {
      margin-left: auto;
      // padding: 29px;
      padding-right: 29px;

      img {
        vertical-align: middle;
      }
    }
  }
}
